* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: #1f1f1f;
}

.background-image {
    background-image: url(store.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 15px;
    /* color: violet; */
    background-color: violet;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px;
    width: 300px;
    height: 350px;
    margin: 5 px;
    position: relative;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: 5s;
}

.card .front {
    transform: rotateY(0deg);
    box-shadow: 0 5px 10 px #000;
    backface-visibility: hidden;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    background: black;
    text-align: center;
    z-index: 2;
}

.card .back {
    transform: rotateY(180deg);
    background: black;
    padding: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    backface-visibility: hidden;
    height: 100%;
    overflow-y: auto;
    font-size: 12px;
}

.card .back h3 {
    margin: 0;
    padding: 10px;
}

.card .back .caution {
    color: yellow;
}

.card .back ul {
    padding: 10px;
    list-style: none;
}

.card .back li {
    padding: 5px;
}

.card .back li:last-child {
    border-bottom: none;
}

.card:hover .front {
    transform: rotateY(-180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: violet;
    padding: 10px;
    text-align: center;
    color: aliceblue;
  }