{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block content %}
    <title>Brew-ba-boo Potion Store</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="background-image">
    {% if not potions %}
    <h1 class="no-potion">You haven't brew any potion D:</h1>
    {% else %}
    <h1> Welcome to {{ app }} Potion Store</h1>
    <div class="card-container">
        {% for potion in potions %}
        <div class="card">
          <div class="face front">
            <h3>{{ potion.name }}</h3>
            <img src="{% static './images/potion.png' %}" alt="Potion Image">
          </div>
          <div class="face back">
            <h3>{{ potion.description }}</h3>
            <h3 class="caution">CAUTION : {{ potion.caution }}</h3>
            <h3 class="price">{{ potion.price }}</h3>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      
      <br />
      
      <a href="{% url 'main:create_potion' %}" class="open-modal">
        <button class="create-button">Brew New Potion</button>
      </a>
      <a href="{% url 'main:logout' %}">
        <button>Leave</button>
      </a>
      <h5>Last visited: {{ last_login }}</h5>
      {% endblock content %}
</body>
<footer>
  {% block footer %}
    <p>&copy;{{ app }} by {{ name }} {{ class }}</p>
  {% endblock footer %}
</footer>
</html>